{
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectoy": "es",
                "style": "css"
            }
        ]
    ]
}
